* {
  margin: 5px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 750px;
  background-color: transparent;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
}

.btn-primary {
  width: 130px;
  margin-left:auto;
  margin-top: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.buttons .btn {
  margin-left: 15px;
  margin-right: -10px;
}
